WEB-INF/out/*
WEB-INF/work/*
WEB-INF/classes/com/siagcee/logic/*.class
WEB-INF/classes/com/siagcee/web/*.class
WEB-INF/tmp/*
comunes/documentos/*
comunes/subidos/*
comunes/graficos/*
out/*
siagcee.ids
siagcee.ipr
siagcee.iws
siagcee.properties
siagcee.xml

